<div class="occupation-home" style="margin: 0 -8px; font-weight: 500;height: 100%;">
  <section class="banner position-relative">
    <span class="position-absolute" style="left: 14px;
    top: 18px;
    font-size: 20px;
    color: #fff;" nz-icon nzType="left" nzTheme="outline" routerLink="/occupation"></span>
    <div class="banner-text">NGÀNH NGHỀ</div>
  </section>
  <section class="record" style="box-shadow: 0 .267vw .267vw 0 #cacaca;">
    <div class="d-flex justify-content-between p-3">
      <div class="period">
        <img style="width: 32px;height: 34px;" src="content/images/period.jpg" alt="period"> <span style="font-size: 2rem">202405283285</span>
      </div>
      <div class="next-number text-center">
        <span style="font-size: 2rem">202405283285</span>
        <div class="count-down" style="color: #ff253f;font-size: 2.5rem">00:00:00</div>
      </div>
    </div>
    <div style="background: linear-gradient(to right, rgba(126, 86, 120, 0), rgb(230, 195, 161), rgba(126, 86, 120, 0));height: 1px;">
    </div>
    <div class="p-3 d-flex justify-content-end align-items-center" style="height: 52px;">
      <span nz-icon nzType="down" nzTheme="outline"></span>
    </div>
  </section>
</div>
