<div class="row no-gutters justify-content-center text-center">
  <div class="col-auto" style="width:20%">
    <a routerLink="./">
      <img style="width: 30px;height: 30px;" src="content/images/h.png">
      <p style="color:#ffffff;">Trang chủ</p></a>
  </div>
  <div class="col-auto" style="width:20%">
    <a routerLink="/record">
      <img style="width: 30px;height: 30px;" src="content/images/o.png">
      <p style="color:#ffffff;">Nước ngoài</p></a>
  </div>
  <div class="col-auto" style="width:20%">
    <a class="" routerLink="/withdraw">
      <img style="width: 30px;height: 30px;" src="content/images/do.png">
      <p style="color:#ffffff;">Hoàn thiện</p></a>
  </div>
  <div class="col-auto" style="width:20%">
    <a class="" routerLink="/support">
      <img style="width: 30px;height: 30px;" src="content/images/cs.png">
      <p style="color:#ffffff;">Công ty</p></a>
  </div>
  <div class="col-auto" style="width:20%">
    <a class="" routerLink="/my">
      <img style="width: 30px;height: 30px;" src="content/images/p.png">
      <p style="color:#ffffff;">Hồ sơ</p></a>
  </div>
</div>


