<div class="voucher-page" style="font-weight: 500;height: 100%;">
  <section class="banner">
    <span class="position-absolute" style="left: 14px;top: 18px;font-size: 1.4rem;color: #1989fa;cursor: pointer"
          nz-icon nzType="left" nzTheme="outline" (click)="goBack()"></span>
    <div class="banner-text">Lịch sử giao dịch</div>
  </section>
  <section style="padding-top: 50px" class="withdraw-action">
    <nz-table [nzLoading]="isLoading"  #basicTable [nzData]="listOfData" class="custom-table">
      <thead>
      <tr>
        <th>Khoản rút</th>
        <th>Loại giao dịch</th>
        <th>Trạng thái</th>
        <th>Thời gian</th>
      </tr>
      </thead>
      <tbody>
        @for (data of basicTable.data; track i; let i = $index) {
          <tr>
            <td>{{ data?.amount | number: '1.0-3' }} VNĐ</td>
            <td>{{data?.type}}</td>
            <td>
              <nz-tag class="custom-tag" [nzColor]="data?.status === 1 ? 'success' : data?.status === 0 ? 'processing' : 'error'">
                <span nz-icon [nzType]="data?.status === 1 ? 'check-circle' : data?.status === 0 ? 'sync' : 'info-circle'"></span>
                <span>{{data?.status === 1 ? 'Hoàn thành' : data?.status === 0 ? 'Chờ xác nhân' : data?.message}}</span>
              </nz-tag>
            </td>
            <td>{{ data?.updated_at | date: 'dd/MM/yy HH:mm'}}</td>
          </tr>
        } @empty {
          <tr>
            <td colspan=4>Không có lịch sử giao dịch</td>
          </tr>
        }
      </tbody>
    </nz-table>
  </section>
</div>

