<div class="my-3">
  <img src="content/images/logos.png" alt="logo" style="width: 100px;height: 50px;">
</div>
<nz-table [nzPageSize]="12" [nzLoading]="isLoading"  #basicTable [nzData]="listOfData" class="custom-table">
  <thead>
  <tr>
    <th>Amount</th>
    <th>Type</th>
    <th>Description</th>
    <th>Time</th>
  </tr>
  </thead>
  <tbody>
    @for (data of basicTable.data; track i; let i = $index) {
      <tr>
        <td>${{ data?.amount }}</td>
        <td>
          <nz-tag nzColor="geekblue" [nzBordered]="false">{{ data?.type }}</nz-tag>
        </td>
        <td>{{ data?.description }}</td>
        <td>{{ data?.created_at | date: 'HH:mm:ss dd/MM/yyyy'}}</td>
      </tr>
    } @empty {
      <tr>
        <td colspan=4>No deposits found</td>
      </tr>
    }

  </tbody>
</nz-table>

