<div class="my-3">
  <img src="content/images/logo.png" alt="logo" style="width: 138px;height: 50px;">
</div>
<nz-table [nzPageSize]="12" [nzLoading]="isLoading"  #basicTable [nzData]="listOfData" class="custom-table">
  <thead>
  <tr>
    <th>Amount</th>
    <th>Type</th>
    <th>Status</th>
    <th>Time</th>
  </tr>
  </thead>
  <tbody>
    @for (data of basicTable.data; track i; let i = $index) {
      <tr>
        <td>${{ data?.amount }}</td>
        <td>
          <nz-tag [nzColor]="data?.type === 0 ? 'geekblue' : 'volcano'" [nzBordered]="false">
            {{ data?.type === "0" ? 'Bank' : 'Coin' }}
          </nz-tag>
        </td>
        <td>
          <nz-tag [nzColor]="data?.status === 0 ? 'gray' : data?.status === 1 ? 'green' : 'red'" [nzBordered]="false">
            {{ data?.status === 0 ? 'Chờ xác nhận' : data?.status === 1 ? 'Xác nhận' : 'Từ chối' }}
          </nz-tag>
        </td>
        <td>{{ data?.created_at | date: 'HH:mm:ss dd/MM/yyyy'}}</td>
      </tr>
    } @empty {
      <tr>
        <td colspan=4>No deposits found</td>
      </tr>
    }

  </tbody>
</nz-table>

