.my-page {
  .info-transaction {
    margin-top: 36px;
    .card-transaction {
      position: relative;
      height: 200px;
      .img {
        position: absolute;
        top:0;
        right: 0;
        left: 0;
        bottom: 0;
        background-image: url(../../../content/images/m10.jpg);
        clip-path: polygon(100% 0, 100% 0, 100% 100%, 0 100%);
        background-size: 100% 100%;
        background-repeat: no-repeat;
      }

    }
    .transaction {
      color: #333333;
      font-weight: normal;

      .info-label {
        & > div  {
          margin-top: 16px;
        }
        width: 160px;
      }
      .info-value {
        & > div  {
          margin-top: 15px;
        }
        text-align: center;
      }
    }
  }
  .finance {
    margin-top: 15px;
    .surplus {
      font-size: 1.7rem;
      color: #333333;
    }
  }
  .feature {
    &-item {
      margin-bottom: 30px;
      img {
        cursor: pointer;
        transition: .3s;
        &:hover {
          scale: 1.3;
        }
      }
    }
    &-title {
      margin-top: 12px;
      font-weight: normal;
    }
  }

  .card-info {
    padding: 8px;
    border: 1px solid;
    border-radius: 10px;
    height: 80px;
    text-align: center;
  }
  .info-user {
    .user-img {
      border-radius: 50%;
      cursor: pointer;
      .edit-img {
        display: none;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      &:hover {
        img {
          opacity: .7;
        }
        .edit-img {
          display: block;
          z-index: 1;
        }
      }

    }
  }
}

.custom-btn {
  width: 93px;
  height: 40px;
  background-color: #000000;
  color: #ffffff;
  border-radius: 10px;
  &:hover {
    border-color: #000000c2;
    background: #000000c2;
    color: #ffffff;
  }

  &.ghost {
    margin-left: 10px;
    padding: 6.5px 3px;
    background-color: #fff;
    color: #000000;
    &:hover {
      border-color: #000000c2;
      background: #ffffff;
      color: #000000;
    }
  }
}
