.voucher-page {
  .banner {
    position: fixed;
    top: 0;
    background: #fff;
    right: 0;
    left: 0;
    text-align: center;
    padding: 14px 16px;
  }
  .voucher {
    height: calc(100% - 50px);
    overflow-y: auto;
    padding-top: 50px;
    &-item {
      padding: 8px 16px;
      color: #323233;
      font-size: 12px;
      background-color: #fafafa;
      &:not(:last-of-type) {
        margin-bottom: 8px;
      }
    }
    &-text {
      font-size: 2rem;
      color: blue;
      text-align: center;
      margin-bottom: 8px;
    }
    &-title {
      line-height: 16px;
    }
    &-img {
      margin-right: 8px;
      img {
        width: 88px;
        height: 88px;
        object-fit: cover;
      }
    }
    &-price {
      font-size: 1.6rem;
      color: #1989fa;
    }
    .discount {
      font-size: 1rem;
      border-radius: 30px;
      background-color: #1989fa;
      padding: 0 8px;
      color: #fff;
    }
  }
}
