<div class="voucher-page" style="font-weight: 500;height: 100%;">
  <section class="banner">
    <span class="position-absolute" style="left: 14px;top: 18px;font-size: 1.4rem;color: #1989fa;cursor: pointer"
          nz-icon nzType="left" nzTheme="outline" (click)="goBack()"></span>
    <div class="banner-text">Lịch sử thanh toán</div>
  </section>
  <section style="padding-top: 50px" class="withdraw-action">
    <nz-table [nzLoading]="isLoading"  #basicTable [nzData]="listOfData" class="custom-table">
      <thead>
      <tr>
        <th>Số Lượng</th>
        <th>Hoa hồng</th>
        <th>Tổng tiền</th>
        <th>Thời gian</th>
      </tr>
      </thead>
      <tbody>
        @for (data of basicTable.data; track i; let i = $index) {
          <tr>
            <td>{{ data?.total_product }}</td>
            <td>{{ Number(data?.commission) | number:'1.0-3' }} VNĐ</td>
            <td>{{ Number(data?.total_price) | number:'1.0-3'}} VNĐ</td>
            <td>{{ data?.updated_at | date: 'dd/MM/yy HH:mm'}}</td>
          </tr>
        } @empty {
          <tr>
            <td colspan=4>Không có lịch sử thanh toán</td>
          </tr>
        }
      </tbody>
    </nz-table>
  </section>
</div>

