/* ==========================================================================
Main page styles
========================================================================== */

.hipster {
  display: inline-block;
  width: 347px;
  height: 497px;
  background: url('../../content/images/jhipster_family_member_2.svg') no-repeat center top;
  background-size: contain;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (-moz-min-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {
  .hipster {
    background: url('../../content/images/jhipster_family_member_2.svg') no-repeat center top;
    background-size: contain;
  }
}

.home-page {
  font-weight: 500;
  background-image: url('../../content/images/bg-home.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100%;
}

.banner {
  position: relative;
  padding: 10px 0;
  text-align: center;

  .marquee {
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    position: absolute;
    top: 11px;
    left: 100px;
    right: 60px;
  }

  .marquee-inner {
    font-size: 1.2rem;
    display: inline-block;
    animation: marquee 20s linear infinite;
  }

  @keyframes marquee {
    from {
      transform: translateX(300px);
    }
    to {
      transform: translateX(-100%);
    }
  }
}

.advertise {
  display: flex;
  justify-content: center;
  margin-top: 215px;

  .marquee-container {
    width: 365px; /* Điều chỉnh chiều rộng tùy ý */
    height: 100px; /* Điều chỉnh chiều cao để phù hợp với 5 mục li */
    overflow: hidden;
    position: relative;
  }

  .marquee-vertical {
    display: flex;
    flex-direction: column;
    animation: marqueeVertical 30s linear infinite;
  }

  .marquee-vertical li {
    list-style-type: none;
    font-size: 1.2rem;
    color: #fff;
  }
}

.product {
  &-list {
    padding: 30px 30px 0;
  }

  &-item {
    display: flex;
    border: 2px solid #7b819d;
    border-radius: 16px;
    padding: 10px;
    align-items: center;
    cursor: pointer;
  }

  &-img {
    margin-right: 8px;

    img {
      width: 40px;
      height: 40px;
    }
  }

  &-title {
    color: #fff;
    font-size: 1.3rem;
  }
}

@keyframes marqueeVertical {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}

/*Custom btn*/

.custom-btn {
  height: 50px;
  background-color: #00D0EA;
  color: #ffffff;
  border-radius: 10px;

  &:hover {
    border-color: #00d0eab8;
    background: #00d0eab8;
    color: #ffffff;
  }

  &.login {
    font-size: 1.4rem;
    line-height: 42px;
    background-color: #1989fa;
    color: #ffffff;
    border-radius: 30px;

    &:hover {
      border-color: #1989fac2;
      background: #1989fac2;
    }
  }
}

.custom-input {
  height: 44px;
  border-radius: 30px;
}

.job-horizon {
  margin: 0 -8px;

  .job {
    &-list {
      overflow-x: auto;
      padding: 16PX 0;
      background: linear-gradient(180deg, #ffe2c6, rgba(255, 241, 235, .4) 53.12%, #fff 88.98%, #fff);
    }

    &-item {
      width: 160px;
      background-color: #fff;
      padding: 8px;
      margin: 0 4px;
    }
  }
}

.job-normal {
  .job {
    &-item {
      padding: 16px 0;

      &:not(:last-child) {
        border-bottom: 1px solid #ecedef;
      }

      /* &:first-child {
         margin-top: 16px
       }
       &:not(:last-child) {
         margin-bottom: 16px
       }*/
    }

    &-img {
      margin-right: 8px
    }
  }
}

.job-normal, .job-horizon {
  .job {
    &-img {
      position: relative;

      img {
        object-fit: cover;
      }
    }

    &-favorite {
      top: 6px;
      right: 6px;
      color: #fff;
    }

    &-tag {
      top: 6px;
      left: 6px;
      background-color: #bf1d28;
      color: #fff;
      font-size: 1rem;
      padding: 8px;
      line-height: 2px;
      border-radius: 4px;
    }

    &-title {
      font-size: 1.4rem;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
    }

    &-price {
      font-size: 1.5rem;
      margin-top: 16px;
      color: #d14200;
    }

    &-time, &-address {
      font-size: 1rem;
      white-space: nowrap;
      overflow: hidden;

      .content {
        overflow: hidden;
        text-overflow: ellipsis;
        margin-left: 2.5px;
      }
    }
  }
}

.bg-top {
  height: 350px;
  background: #000;
}

.bg-xia {
  &:before {
    display: block;
    position: absolute;
    content: "";
    width: 100%;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    top: 330px;
  }
  &:after {
    display: block;
    position: absolute;
    content: "";
    width: 100%;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    top: 330px;
  }
}

.title {
  position: absolute;
  top: 80px;
  color: #fff;
  font-size: 22px;
  transform: translateX(-50%);
  left: 50%;
  .desc {
    font-size: 14px;
    font-weight: bolder;
    text-align: center;
  }
}

.main {
  width: 90%;
  padding: 40px 14px;
  max-width: 750px;
  position: absolute;
  top: 160px;
  background-color: #fff;
  transform: translateX(-50%);
  left: 50%;
  border-radius: 20px;
  box-shadow: 0 0 30px #333;
  margin-bottom: 300px;
}


@media screen and (min-width: 750px) {
  .membership-card {
    height: 180px;
  }
}

