<div class="home-page">
  <section class="banner">
    <img style="width: 93%;" src="content/images/label-home.png" alt="label">
    <div class="marquee">
      <div class="marquee-inner">
        Cảm ơn quý khách hàng đã không ngừng ủng hộ TiKi Mall , TiKi Merchant Mall . Sẽ triển khai nhiều Chương Trình ưu đãi nhiều hơn nữa . Chúng Tôi mong rằng quý khách hàng sẽ tuân thủ theo quy định của Công Ty chúng tôi ! Chân Thành Cảm Ơn .
      </div>
    </div>
    <img style="width: 240px;height: 120px;margin-top: 50px"  src="content/images/logo-home.png" alt="logo">
<!--
    <div class="d-flex justify-content-between">
      <svg style="width: 200px;height: 40px">
        <use href="#logo"></use>
      </svg>
      <nz-input-group class="custom-input" [nzSuffix]="search">
        <input nz-input placeholder="Tìm kếm"/>
        <ng-template #search>
          <span nz-icon nzType="search" nzTheme="outline"></span>
        </ng-template>
      </nz-input-group>
    </div>
-->

  </section>
  <section class="advertise">
    <div class="marquee-container">
      <ul class="marquee-vertical">
        <li *ngFor="let item of marqueeList">{{ item }}</li>
        <li *ngFor="let item of marqueeList">{{ item }}</li>
      </ul>
    </div>
  </section>
  <section class="product">
    <div class="product-list row g-3">
      <div class="col-6">
        <div class="product-item" routerLink="./voucher" [queryParams]="{type: 'giadung'}">
          <div class="product-img">
            <img src="content/images/giadung.png" alt="giadung">
          </div>
          <div class="product-title">
            Bấm để vào sảnh ĐỒ GIA DỤNG
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="product-item" routerLink="./voucher" [queryParams]="{type: 'dientu'}">
          <div class="product-img">
            <img src="content/images/dientu.png" alt="dientu">
          </div>
          <div class="product-title">
            Bấm để vào sảnh ĐIỆN TỬ
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="product-item" routerLink="./voucher" [queryParams]="{type: 'thoitrang'}">
          <div class="product-img">
            <img src="content/images/thoitrang.png" alt="thoitrang">
          </div>
          <div class="product-title">
            Bấm để vào sảnh THỜI TRANG
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="product-item" routerLink="./voucher" [queryParams]="{type: 'oto'}">
          <div class="product-img">
            <img src="content/images/oto.png" alt="oto">
          </div>
          <div class="product-title">
            Bấm để vào sảnh  Ô TÔ-XE MÁY
          </div>
        </div>
      </div>
    </div>
  </section>
<!--  <section class="job-horizon">
    <div class="job-list d-flex">
      @for (job of jobList; track i; let i = $index) {
        <div class="job-item">
          <div class="job-img">
            <img style="width: 144px;height: 108px;" [src]="job?.image || 'content/images/job-0.png'" alt="image">
            <div class="job-tag position-absolute">{{ job?.tag?.text }}</div>
            <span class="job-favorite position-absolute" nz-icon nzType="heart" nzTheme="outline"></span>
          </div>
          <div class="job-info mt-2">
            <div class="job-title" [title]="job?.title">{{ job?.title }}</div>
            <div class="job-price">{{ job?.price }}</div>
            <div class="d-flex" style="color: #717375">
              <div class="job-time d-flex">
                <div>
                  <img src="content/images/clock.png" alt="clock">
                </div>
                <div class="mx-1">{{ job?.time }}</div>
                <div >
                  <img src="content/images/place.png" alt="place">
              </div>
              <div class="content">{{ job?.address }}</div>
              </div>
            </div>
          </div>
        </div>
      }
    </div>
  </section>
  <section class="job-normal">
    <div class="job-list normal">
      @for (job of jobList; track i; let i = $index) {
        <div class="job-item d-flex">
          <div class="job-img">
            <img style="width: 144px;height: 108px;" [src]="job?.image || 'content/images/job-0.png'" alt="image">
            <div class="job-tag position-absolute">{{ job?.tag?.text }}</div>
            <span class="job-favorite position-absolute" nz-icon nzType="heart" nzTheme="outline"></span>
          </div>
          <div class="job-info">
            <div class="job-title" [title]="job?.title">{{ job?.title }}</div>
            <div class="job-price">{{ job?.price }}</div>
            <div class="d-flex" style="color: #717375">
              <div class="job-time d-flex">
                <div>
                  <img src="content/images/clock.png" alt="clock">
                </div>
                <div class="mx-1">{{ job?.time }}</div>
                <div >
                  <img src="content/images/place.png" alt="place">
                </div>
                <div class="content">{{ job?.address }}</div>
              </div>
            </div>
          </div>
        </div>
      }
    </div>

  </section>-->
</div>
