<div class="home-page">
  <section class="my-3">
    <div class="d-flex justify-content-between">
      <svg style="width: 200px;height: 40px">
        <use href="#logo"></use>
      </svg>
      <nz-input-group class="custom-input" [nzSuffix]="search">
        <input nz-input placeholder="Tìm kếm"/>
        <ng-template #search>
          <span nz-icon nzType="search" nzTheme="outline"></span>
        </ng-template>
      </nz-input-group>
    </div>
  </section>
  <section class="job-horizon">
    <div class="job-list d-flex">
      @for (job of jobList; track i; let i = $index) {
        <div class="job-item">
          <div class="job-img">
            <img style="width: 144px;height: 108px;" [src]="job?.image || 'content/images/job-0.png'" alt="image">
            <div class="job-tag position-absolute">{{ job?.tag?.text }}</div>
            <span class="job-favorite position-absolute" nz-icon nzType="heart" nzTheme="outline"></span>
          </div>
          <div class="job-info mt-2">
            <div class="job-title" [title]="job?.title">{{ job?.title }}</div>
            <div class="job-price">{{ job?.price }}</div>
            <div class="d-flex" style="color: #717375">
              <div class="job-time d-flex">
                <div>
                  <img src="content/images/clock.png" alt="clock">
                </div>
                <div class="mx-1">{{ job?.time }}</div>
                <div >
                  <img src="content/images/place.png" alt="place">
              </div>
              <div class="content">{{ job?.address }}</div>
              </div>
            </div>
          </div>
        </div>
      }
    </div>
  </section>
  <section class="job-normal">
    <div class="job-list normal">
      @for (job of jobList; track i; let i = $index) {
        <div class="job-item d-flex">
          <div class="job-img">
            <img style="width: 144px;height: 108px;" [src]="job?.image || 'content/images/job-0.png'" alt="image">
            <div class="job-tag position-absolute">{{ job?.tag?.text }}</div>
            <span class="job-favorite position-absolute" nz-icon nzType="heart" nzTheme="outline"></span>
          </div>
          <div class="job-info">
            <div class="job-title" [title]="job?.title">{{ job?.title }}</div>
            <div class="job-price">{{ job?.price }}</div>
            <div class="d-flex" style="color: #717375">
              <div class="job-time d-flex">
                <div>
                  <img src="content/images/clock.png" alt="clock">
                </div>
                <div class="mx-1">{{ job?.time }}</div>
                <div >
                  <img src="content/images/place.png" alt="place">
                </div>
                <div class="content">{{ job?.address }}</div>
              </div>
            </div>
          </div>
        </div>
      }
    </div>

  </section>
</div>
