<section class="banner mt-3">
  <div>
    <img src="content/images/logos.png" alt="logo" style="width: 100px;height: 50px;">
  </div>
  <div class="title">
    Platform introduction
  </div>
</section>
<section class="question">
  <div class="title">Introduce</div>
  <div class="content">
    This Global Privacy Statement applies to personal information we obtain through your transactions and interactions with Saksoff5th, including your use of Saksoff5th’s websites, mobile applications, social media pages and other platforms referred to in this Privacy Statement (“Online Channels” ”); when you visit our stores, including filling out customer information collection cards and contacting us via phone calls, at our events and surveys (“offline channels”); and through our third-party partner sources, including advertising and social media Network (collectively, the “Channels”). This Global Privacy Statement does not affect the collection or use of information you provide in connection with your Saksoff5th credit card account that provides such services. We will notify credit card account owners annually of our security measures or as otherwise required by law. If you are the owner of a credit card account, you will receive our Privacy Statement
    owner Saksoff5th account credit card  annually by mail.The information you provide related with your Saksoff5th credit card account is managed with that notice


    How we use the information we have.
    We use the personal information we obtained as described in this policy and base on a number of legal to do so that, which  described further below, including:

    perform contract with you;
    our legal business benefit;
    comply with the law , court command to perform or protect juridical  solutions; or
    your consent with  the processing which you can revoke any time.

    We use the information we obtain to perform a contract with you or take steps at your request before entering into a contract, including:

    transact with you and provide different products and services to you;
    process and fulfill orders related to our products and services, and notify you about the status of your order;
    manage career opportunity, include for the purpose recruitment, introduce employee  and other personnel purposes;
    provide customer support (include repairs, change, cleaning and other services); And
    create and manage your account with Saksoff5th

    We use the information obtained on the basis of our legal benefit and we can further describe this information upon request, including:

    operate, appreciate and improve our business (including develope products and new services; enhancing and improving our services; analyze our product and customer base communications;perform data analysis; perform accounting, auditing and other internal functions);
    credit risk mitigation and debt recovery;
    Verify your identity;
    send you promotional materials and other communications (including thank you letters, special occasion reminders and other communications from sales professionals whom you has cooperated with);
    communicate with your email, postal mail, telephone and other also as and to administer your participation in special events, contests, sweepstakes, programs, offers, surveys and market research;
    protect, identify and prevent cheat also   complain, activities, and other illegal liabilities;
    comply and enforcement  relevant industry standards, contractual obligations and our policies; And
    answer your questions.


    Additionally, we process your personal information to comply with and  establish,perform or defend legal claims,whether in court proceedings or in administrative or out-of-court proceedings.  </div>
</section>
