.wrapper {
  transition: .3s;
  position: relative;
  .order-summary {
    padding: 15px 20px;
    margin-left: 30px;
    text-align: left;
    transition: .5s;
    display: none;
    background-image: linear-gradient(to right, #f4f4f4 0, #f4f4f4 0);
    width: 310px;
    position: absolute;
    top: 0;
    left: 100%;
    bottom: 0;
  }
  .order-item {
    font-size: 1.4rem;
    font-weight: normal;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
  }
  .order-delivery {
    margin-top: 15px;
    padding-top: 10px;
    border-top: 1px solid;
  }
  &.show-order {
    transform: translateX(-40%);
    .order-summary {
      display: block;
    }
  }
}
.product {
  &-title {
    font-size: 1.8rem;
    line-height: 2.6rem;
    font-weight: normal;
    margin-bottom: 10px;
  }
  &-price {
    font-size: 1.6rem;
  }
  &-detail {
    text-align: left;
  }
}

.custom-btn {
  height: 42px;
  background-color: #000000;
  color: #ffffff;
  border-radius: 8px;
  &:hover {
    border-color: #000000c2;
    background: #000000c2;
    color: #ffffff;
  }
}






