<div class="my-3">
  <img src="content/images/logo.png" alt="logo" style="width: 138px;height: 50px;">
</div>
<nz-table [nzPageSize]="12" [nzLoading]="isLoading"  #basicTable [nzData]="listOfData" class="custom-table">
  <thead>
  <tr>
    <th>STT</th>
    <th>Price</th>
    <th>Commission</th>
    <th>Status</th>
  </tr>
  </thead>
  <tbody>
    @for (data of basicTable.data; track i; let i = $index) {
      <tr>
        <td>{{ i+1 }}</td>
        <td>${{ data?.total_price }}</td>
        <td>${{ data?.commission }}</td>
        <td>
          <nz-tag class="custom-tag" [nzColor]="data?.status === 2 ? 'success' : data?.status === 1 ? 'processing' : 'error'">
            <span nz-icon [nzType]="data?.status === 2 ? 'check-circle' : data?.status === 1 ? 'sync' : 'circle'"></span>
            <span>{{data?.status === 2 ? 'Completed' : data?.status === 1 ? 'Processing' : 'Failed'}}</span>
          </nz-tag>
        </td>
      </tr>
    } @empty {
      <tr>
        <td colspan=4>No bills found</td>
      </tr>
    }

  </tbody>
</nz-table>

