<div class="voucher-page" style="font-weight: 500;height: 100%;">
  <section class="banner">
    <span class="position-absolute" style="left: 14px;top: 18px;font-size: 1.4rem;color: #1989fa;cursor: pointer"
          nz-icon nzType="left" nzTheme="outline" (click)="goBack()"></span>
    <div class="banner-text">Liên kết thẻ ngân hàng</div>
  </section>
  <section style="padding-top: 50px" class="withdraw-action">
    <div style="padding: 10px 16px">
      <form nz-form [formGroup]="bankLinkForm" (ngSubmit)="submitForm()">
        <nz-form-item class="d-flex flex-nowrap">
          <nz-form-label style="flex: 0 0 45%" nzRequired nzFor="account_name">Tên</nz-form-label>
          <nz-form-control style="flex: 0 0 55%" nzErrorTip="Vui lòng nhập tên">
            <input style="border: none; box-shadow: none" nz-input placeholder="tên" formControlName="account_name" id="account_name"/>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item class="d-flex flex-nowrap">
          <nz-form-label style="flex: 0 0 45%" nzRequired nzFor="email">Số tài khoản ngân hàng</nz-form-label>
          <nz-form-control style="flex: 0 0 55%" nzErrorTip="Vui lòng nhập số tài khoản ngân hàng">
            <input style="border: none; box-shadow: none" nz-input placeholder="Nhập số tài khoản ngân hàng" formControlName="account_number" id="account_number" (keypress)="onlyAllowNumbers($event)"/>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item class="d-flex flex-nowrap">
          <nz-form-label style="flex: 0 0 45%" nzRequired nzFor="email">Tên ngân hàng</nz-form-label>
          <nz-form-control style="flex: 0 0 55%" nzErrorTip="Vui lòng nhập tên ngân hàng">
            <input style="border: none; box-shadow: none" nz-input placeholder="Nhập tên ngân hàng" formControlName="bank" id="bank"/>
          </nz-form-control>
        </nz-form-item>
        <div class="action-support">
          <button class="custom-btn w-100" nz-button type="submit" nzSize="large" nzType="default">
            Cập nhật
          </button>
        </div>
      </form>
    </div>
  </section>
  <!--
    <section class="info">
      <form nz-form [formGroup]="loginForm" (ngSubmit)="submitForm()">
        <nz-form-item class="mb-4">
          <nz-form-control style="text-align: left"  [nzSm]="24" [nzXs]="24" nzErrorTip="Please input your phone number!">
            <input class="custom-input" nz-input formControlName="phone" placeholder="Please enter your username or mobile number" id="phone" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item class="mb-4">
          <nz-form-control style="text-align: left" [nzSm]="24" [nzXs]="24" nzErrorTip="Please input your password!">
            <nz-input-group class="custom-input" [nzSuffix]="iconPassword">
              <input nz-input [type]="isShowPassword ? 'text' : 'password'" placeholder="Please enter your password" formControlName="password" id="password" />
              <ng-template #iconPassword>
                <span style="cursor: pointer" (click)="isShowPassword = !isShowPassword" nz-icon [nzType]="isShowPassword ? 'eye-invisible' : 'eye'" nzTheme="outline"></span>
              </ng-template>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item nz-row class="register-area mb-0 mb-4" >
          <nz-form-control class="text-center">
            <button class="w-100 custom-btn login text-uppercase" nz-button nzSize="large" nzType="default">Login</button>
          </nz-form-control>
        </nz-form-item>
      </form>
      <div class="text-left">Forgot password?</div>
      <div class="my-3" style="font-size: 2.4rem">Create an Account</div>
      <a style="color: #ffff" routerLink="/account/register">
        <button class="w-100 custom-btn login text-uppercase" nz-button nzSize="large" nzType="default">
          REGISTER
        </button>
      </a>
    </section>
  -->

</div>
